@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.container {
  height: 550px;
  width: 700px;
}

.hello {
  width: 320px;
  border-radius: 15px;
}

.icon {
  font-size: 120px;
  transform: rotate(180deg);
  display: flex;
}

h1 {
  font-size: 120px;
}

p {
  font-size: 150px;
  display: flex;
  justify-content: center;
}
